$toolbar-height: 24px;
$toolbar-font-size: 0.9rem;

$file-tree-width: 210px;

body {
  margin: 0;
}

main {
  position: fixed;
  width: 100%;
  height: 100%;

  .container {
    display: flex;
    height: calc(100% - #{$toolbar-height});

    .editor {
      width: 100%;

      .context {
        width: auto;
        height: 100%;
      }
    }

    .file-tree {
      padding: 0.5rem;
      min-width: $file-tree-width;
      color: #a4a8ac;
    }

  }

  .tools {
    color: #a4a8ac;
    display: flex;
    background: #313e54;
    padding: 0 .5rem;
    justify-content: space-between;
    font-size: $toolbar-font-size;
  }
}
